.DialogContent > *:not(:first-child) {
  margin-top: 8px;
}
.cartDiv .MuiOutlinedInput-root {
  font-size: 10px !important;
  font-family: "Cabin" !important;
}
.cartDiv .MuiFormLabel-root {
  font-size: 10px !important;
  font-family: "Cabin" !important;
}
